<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:h="http://xmlns.jcp.org/jsf/html"
 xmlns:f="http://xmlns.jcp.org/jsf/core">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../../Ressources/css/styleArcheClient.css">
	<script type="text/javascript" src="../../Ressources/js/scriptArcheClient.js"></script>
</head>

</head>

<body>
	<header>
		<div class="navbar">
			<div class="topnav" id="myTopNav">
				<div id="nav-belt">
					<div class="nav-left">
						<a href="accueil.jsf" tabindex="8">
							<img alt="logo_promo32" src=" logo_promo32.jpg"></a>

					</div>
					<div class="nav-center">
						<div class="nav-search">
							<div class="nav-search-left">
								<select name="thelist" onChange="combo(this, 'theinput')" onMouseOut="comboInit(this, 'theinput')">
							</div>
							 

							<div class="nav-search-center"><input type="text">
								<div class="nav-search-right">
									<input type="submit" class="nav-input" value="Go" img="iconSearch.jpg">
								</div>
							</div>
						</div>

					</div>
					<div class="nav-right">
						<a href="accueil.jsf" tabindex="8">
							<img alt="slogan a proposer par nico" src=" logo_promo32.jpg"></a>
					</div>



				</div>
			</div>
		</div>

		<div class="bottomnav" id="myBottomnav">
			<div class="bottom-left">
			
				<a href="#home">Localisation</a>
				<a href="#news">Perimetre</a>
				<a href="#contact">Tous les Categories</a>
			</div>
			<div class="bottom-right">
				<a href="#about">Reservations</a>
				<a href="#about">Suivi</a>
				<a href="#about">Profil</a>
				<a href="#about">Connexion</a>

			</div>
			<a href="javascript:void(0);" class="icon" onclick="myFunction()">
					<i class="fa fa-bars"></i>
				</a>
				 
		</div>

	</header>
</body>

</html>