:root { 
	--couleur-majeure-vert: #2ABB6D; 
	--couleur-majeure-vert-dark: #1b7e48;
	--couleur-deux-vert: #2CC547;
	--couleur-trois-vert: #41AE30; 
	--couleur-quatre-vert: #76C52C; 
	--couleur-cinq-vert: #A2BB2A; 
	--couleur-majeure-jaune: #F1C40F; 
	--couleur-deux-jaune: #DAC503; 
	--couleur-trois-jaune: #F7F903;
	--couleur-quatre-jaune: #DA9903; 
	--couleur-cinq-jaune: #F99603;
	--couleur-gris-pale: #f8f8f8; 
	--couleur-gris-clair: #EEE;
	--couleur-orange-clair: #FF4C39; 
	--couleur-orange-dark: #BB382A; 
	--couleur-majeure-bleu: #1D3E53; 
	--couleur-deux-bleu: #254B62; 
	--couleur-trois-bleu: #476D7C; 
	--couleur-quatre-bleu: #77ABB7;
}


.menuPointrelais {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #f2f2f2;
	margin-bottom: 40px;
	padding-left: 20px;
	margin-right: ;
}
.bonjour{
	color: #254B62;
	margin-top: 19px;
	margin-left: 20px;
	font-family: roboto;
}
.buttonValide{
	color: white;
	background-color:  #254B62;
	padding-top: 16px;
	margin-left: 20px;
	margin-right: 90px;
	width: 150px;
	height: 44px;
	cursor: pointer;
	text-align: center;
	box-sizing:initial;
	
}
li {
	float: right;
}

li a, .dropbtn {
	display: inline-block;
    color: black;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-family: roboto;
}

li a:hover {
	background-color:  #1D3E53;
	color: white;
}

.menuPointRelais a.active {
	background-color: red;
}